@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
}

html, body {
  /* height: calc(100% - 60px); */
  /* height: 100%; */
  background-color: #000E60;
  /* background: rgb(0, 14, 96); */
  background: linear-gradient(to right, #000e60 0%, #001172 40%, #001172 60%, #000e60 100%);
  font-family: 'Montserrat', sans-serif;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

.alert {
  display: none;
}

.color-yellow {
  color: #DFE21E;
}

#prijave .forgot-password-container a:hover {
  color: #DFE21E !important;
}

.plyr__control--overlaid svg {
  color: #000A35;
}

.plyr__control--overlaid, .plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
  background-color: #DFE21E !important;
}

.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
  color: #000A35 !important;
}

.plyr__volume input[type=range], .plyr--full-ui input[type=range] {
  color: #DFE21E !important;
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
  background-color: #DFE21E !important;
}

.plyr__menu__container .plyr__control[role=menuitemradio]::after {
  background-color: #000A35 !important;
}

.zutob {
  background-color: #DFE21E;
  color: #000A35;
  border-color: #000;
  padding: .8rem 1.2rem;
  width: 200px;
}

.yellow-btn {
  background-color: #DFE21E;
  color: #000A35;
  font-weight: bold;
}

.yellow-btn:focus, yellow-btn:active {
  border: none;
  box-shadow: none;
}

.bigzy .alert {
  flex-basis: 100%;
}

.zutob2, .zutob2:active, .zutob2:focus {
  background-color: #DFE21E;
  color: #000A35;
  border-color: #000;
  font-weight: bold;
  box-shadow: none !important;
}

.zutob2:hover {
  background-color: #b2b517;
  color: #000A35;
}

.zutob:hover {
  background-color: #b2b517;
  color: #000A35;
  border-color: #000;
  font-weight: bold;
}

.regiregi:hover {
  font-weight: bold;
}

.scale-btn-105 {
  transition: transform .3s ease;
}

.scale-btn-105:hover {
  transform: scale(1.07);
}

/* SCROLL ================================================================================= */

/*
 *  STYLE 7
 */

#style-7::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

#style-7::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 43, 178, .8);
  /* background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122, 153, 217)), color-stop(0.72, rgb(73, 125, 189)), color-stop(0.86, rgb(28, 58, 148))); */
}

/* SCROLL ================================================================================= */

.alert-warning {
  background-color: #18277a;
  color: #fff;
  border: none;
  /* color: #DFE21E; */
}

.alert-dismissible .btn-close {
  background: none;
  color: #fff;
  opacity: 1;
  font-size: 1.5rem;
  padding: .75rem 1rem;
}

.dropdown-item {
  font-weight: 600;
  ;
}

.dropdown-menu {
  right: 0;
  /* left: auto; */
  /* min-width: 150px; */
  /* width: 25%; */
  margin: 0 auto;
}

.tooltip {
  pointer-events: none;
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  min-width: 180px;
}

.dropdown-menu.show {
  /* For Bootstrap 4, use .dropdown.show instead of .dropdown.open */
  max-height: 300px;
  opacity: 1;
}

#body-container {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

#scroll-to-top:hover {
  background-color: transparent;
}

.scale-btn-2 {
  transition: transform .3s ease;
}

.scale-btn {
  transition: transform .3s ease;
}

@media only screen and (min-width: 992px) {
  .scale-btn:hover {
    transform: scale(1.015);
  }
  .scale-btn-2:hover {
    transform: scale(1.05);
  }
}

.invalid-feedback, .form-control.is-invalid {
  color: tomato;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: tomato;
}

/* 

Plava - #000E60
Zuta - #DFE21E
Bela - #FFFFFF

*/

/* NAVBAR ============================================================================================================================== */

.navbar {
  width: 90%;
  margin: 0 auto;
}

.navbar-container-custom {
  padding-top: 30px;
  /* Change here change in JS */
  transition: background-color .5s ease;
}

.fixed-navbar-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.brand-mobile {
  display: none;
}

a.navbar-brand img {
  width: 250px;
}

.navbar-light .navbar-nav .nav-link {
  /* margin-left: 2rem; */
  font-weight: 500;
}

.navbar-light .navbar-nav .middle-nav.nav-link {
  margin-left: 2.5rem;
  display: inline-block;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

/* UNDERLINE ON HOVER */

.navbar-light .navbar-nav .middle-nav.nav-link, .prijava-nav, .logged-in-as {
  position: relative;
}

.navbar-light .navbar-nav .middle-nav.nav-link:after, .prijava-nav:after, .logged-in-as:after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

.navbar-light .navbar-nav .middle-nav.nav-link:hover:after, .prijava-nav:hover:after, .logged-in-as:hover:after {
  width: 100%;
  left: 0;
  background: #fff;
}

.dropdown-toggle::after {
  border: none;
}

.rotate {
  transition: transform .5s ease;
}

/* Registracija btn */

.navbar-light .navbar-nav .nav-link.registracija-nav {
  background-color: #DFE21E;
  color: #000E60;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: 800;
  margin-left: 1rem;
}

/* Prijava btn */

.navbar-light .navbar-nav .nav-link.prijava-nav {
  line-height: 2rem;
}

.navbar-light .navbar-nav.left-nav .nav-item:first-of-type {
  /* margin-left: 7rem; */
  /* margin-right: 3rem; */
}

/* Active link */

.navbar-light .navbar-nav .nav-link.active {
  background-color: #fff;
  color: #000E60;
  font-weight: 800;
  border-radius: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.moji-kursevi {
  background-color: #DFE21E;
  color: #000E60 !important;
  font-weight: 800 !important;
  border-radius: 10px;
}

/* PRIJAVE ============================================================================================================================== */

#prijave.login-form {
  /* position: absolute; */
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 100%;
  margin-top: 15vh;
}

#prijave {
  top: 10%;
  position: relative;
}

#prijave .logo-img {
  /* width: 100%; */
}

.go-back {
  font-size: 1.5rem;
}

.go-back a {
  text-decoration: none;
  color: #fff;
}

.login-form-container {
  background-color: rgba(255, 255, 255, .45);
  border-radius: 10px;
  padding: 1.5rem 2.5rem;
  color: #fff;
  margin-top: 2rem;
  position: relative;
}

.login-form-container h1 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.login-form-container label {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: .3rem !important;
}

.login-form-container input, .login-form-container select {
  margin-top: -5px;
}

#prijave .forgot-password-container {
  flex-wrap: wrap;
}

#prijave .not-registered-container {
  flex-wrap: wrap;
}

#prijave .forgot-password-container a {
  text-decoration: none;
}

#prijave .forgot-password-container button, #prijave .not-registered-container button {
  /* Prijavi se btn */
  color: #000;
  background-color: #DFE21E;
  font-weight: 800;
  text-transform: uppercase;
  border: 1px solid white;
  padding: .5rem 1.7rem;
  border-radius: 10px;
}

#prijave .not-registered-container button {
  /* Regustruj se btn */
  background-color: #fff;
  color: #000E60;
  padding: 0.3rem 1rem;
  height: auto;
  padding-top: 0.4rem;
}

.line-container {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #000E60;
  margin-top: 1rem;
}

.ili {
  font-size: 1.5rem;
}

.zab-sifru {
  font-size: 18px;
  font-weight: 500;
}

.niste-reg {
  font-size: 20px;
  font-weight: 500;
}

.zab-sifru:hover {
  color: #DFE21E !important;
}

/* REGISTRACIJA =================================================================================================== */

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}

#progressbar .active {
  color: white;
}

#progressbar li {
  list-style-type: none;
  font-size: 12px;
  width: 25%;
  position: relative;
}

#progressbar #account:before {
  content: "\f007";
  font-family: "Font Awesome 5 Free";
}

#progressbar #personal:before {
  content: "\f4fe";
  font-family: "Font Awesome 5 Free";
}

#progressbar #confirm:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 18px;
  color: #000A35;
  background: white;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
  position: relative;
  z-index: 2;
  font-weight: bold;
  transition: background .5s ease;
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: 1;
}

#progressbar li:nth-of-type(1)::after {
  left: 50%;
  width: 50%;
}

#progressbar li:nth-of-type(3)::after {
  width: 50%;
}

#progressbar li.active:before, #progressbar li.active:after {
  background: #DFE21E;
}

#prijave.registracija .form-check-input:checked, #prijave.registracija .form-check-input:checked:active, #prijave.registracija .form-check-input:checked:focus {
  background-color: #DFE21E !important;
  color: #000A35 !important;
  border-color: white;
  background-image: none !important;
  box-shadow: none !important;
}

input[type=checkbox]:checked:after {
  content: "\2714";
  position: relative;
  top: -3.5px;
}

#email-sifra {
  display: none;
}

#zemlja-razred-telefon {
  display: none;
}

.form-check #exampleCheck1, .form-check #exampleCheck2 {
  margin-top: 3px;
}

.form-check a {
  color: #DFE21E;
  text-decoration: none;
}

.form-check a:hover {
  text-decoration: underline;
}

/* .form-check .form-check-input.is-invalid~.form-check-label, .form-check .was-validated .form-check-input:invalid~.form-check-label {
  color: tomato;
} */

.form-check label {
  line-height: normal;
  font-size: 1rem;
}

.logo-img-container {
  height: 100%;
}

#prijave .logo-img {
  width: 100%;
  height: 100%;
}

.register-btn, .confirm-btn {
  color: #000;
  background-color: #DFE21E;
  font-weight: 800;
  text-transform: uppercase;
  border: 1px solid white;
  padding: .5rem 1.7rem;
  border-radius: 10px;
  /* padding-top: 2px; */
  margin: 0 auto;
  display: block;
  font-size: 1.2rem;
}

.rr {
  display: inline-block;
  font-size: .9rem;
  padding: .5rem 1.2rem;
}

.rr:focus, .rr:active {
  background-color: #DFE21E;
  border: 1px solid white !important;
  box-shadow: none !important;
  color: #000A35;
}

#prevB {
  display: none;
}

.confirm-btn {
  text-transform: capitalize;
  padding-top: .2rem;
  padding-bottom: .2rem;
}

.confirm-btn:hover, .confirm-btn:active {
  background-color: #DFE21E !important;
  color: #000 !important;
  border: 1px solid white;
  outline: none;
  box-shadow: none;
}

.register-btn:hover {
  background-color: #DFE21E;
  color: #000;
  border: 1px solid white;
}

#prijave.registracija {
  top: 5%;
}

.kreiraj-p {
  font-size: 1.1rem;
}

/* KURSEVI ========================================================================================================== */

.pretraga-col {
  position: relative;
}

@media only screen and (max-width: 933px) {
  .pretraga-col {
    margin-left: 0 !important;
    margin-top: 1rem;
  }
}

.search-results, .search-results-small {
  background-color: white;
  color: black;
  margin-top: .5rem;
  padding: .2rem .5rem;
  max-width: 300px;
  position: absolute;
  z-index: 2;
  display: none;
}

.search-result-item {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.search-result-item:not(:last-child) {
  border-bottom: 1px solid black;
}

.pretraga-input:focus {
  border: none;
  box-shadow: none;
}

#kursevi .skola {
  font-weight: 800;
  line-height: 20px;
  transition: background-color .3s ease;
  display: inline-block;
  height: 100%;
}

#kursevi .skola:nth-of-type(2) {
  position: relative;
  right: 5px;
}

#kursevi .skola:nth-of-type(3) {
  position: relative;
  right: 10px;
  top: -10px;
  line-height: 40px;
}

#kursevi .skola-container {
  margin-top: -.65rem;
  height: 70px;
}

#kursevi .skola.active {
  background-color: #DFE21E;
  color: #000E60;
}

#kursevi .skola:nth-of-type(1) {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#kursevi .skola:nth-of-type(3) {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#kursevi .skola:hover:not(.active) {
  cursor: pointer;
  background-color: #fff;
  color: #000E60;
}

#kursevi {
  margin-top: 200px !important;
}

.kursevi-icon {
  height: 50px;
  top: -5px;
  position: relative;
}

.kursevi-h1 {
  font-size: 3rem;
}

.morate-biti-prijavljeni-modal {
  top: 50%;
  transform: translateY(-25%);
}

.skola {
  background-color: #000E60;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #000b4b;
  border: 1px solid white;
  padding: 1rem;
  text-align: center;
}

.course-col-container div.course-img {
  /* height: 150px */
  /* background-color: white; */
  /* margin-right: .5rem; */
  box-sizing: border-box;
}

.grade-name {
  font-weight: 700;
  font-size: 1.1rem;
}

.custom-hr {
  /* height: 1.5px !important; */
  background-color: #fff;
  opacity: 1;
  position: relative;
  top: 1px;
  /* border: none; */
  border-style: inset;
  border-width: 1px;
}

.course-name {
  font-weight: 600;
}

#kursevi-area .owl-item:nth-of-type(1) {
  margin-left: -1rem;
}

#kursevi-area .owl-item .item {
  padding-left: 1rem;
}

/* MOJI KURSEVI ============================================================================================================================== */

#moji-kursevi {
  margin-top: 200px;
}

#moji-kursevi .register-btn {
  background-color: #fff;
}

#moji-kursevi .register-btn:hover {
  background-color: #DFE21E;
}

/* KUPOVINA KURSA ===================================================================================================  */

.odks {
  font-size: 2rem;
}

#kupovina-kursa {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 200px !important;
}

#kupovina-kursa-eng {
  margin-top: 200px !important;
}

.uplatnica-img-container {
  position: relative;
  width: 620px;
}

.uplatnica-img {
  width: 100%;
}

.uplatilac, .svrha, .racun, .primalac, .iznos, .sifra, .poziv {
  font-size: .8rem;
  font-weight: 700;
}

.uplatilac {
  position: absolute;
  top: 35px;
  left: 30px;
}

.svrha {
  position: absolute;
  top: 108px;
  left: 30px;
}

.primalac {
  position: absolute;
  top: 160px;
  left: 30px;
}

.sifra {
  position: absolute;
  top: 45px;
  left: 335px;
  font-size: .58rem;
}

.sifra-zvezdica {
  position: absolute;
  top: 11px;
  left: 365px;
  font-size: 1.5rem;
  color: red;
  font-weight: 700;
}

.iznos {
  position: absolute;
  top: 43px;
  left: 460px;
}

.racun {
  position: absolute;
  top: 84px;
  left: 360px;
}

.poziv {
  position: absolute;
  top: 120px;
  left: 400px;
}

.col-left {
  margin-left: 4rem;
  /* Change Here Also Change Kupovina Kursa Height */
}

.col-right {
  margin-left: 3rem;
  margin-right: 4rem;
  /* Change Here Also Change Kupovina Kursa Height */
}

.uputstvo:nth-of-type(n+2) {
  margin-top: 1rem;
}

.uputstvo-number {
  background-color: white;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #000;
  text-align: center;
  line-height: 60px;
  font-size: 2.5rem;
  font-weight: 700;
}

.uputstvo-text {
  margin-left: 1rem;
  font-weight: 600;
}

.buy-course-btn, .buy-course-btn:hover, .buy-course-btn:focus {
  background-color: #DFE21E;
  color: #000E60;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1rem;
  padding-top: .65rem;
  padding-bottom: .65rem;
  border-radius: 15px;
  outline: none;
  border: none;
  box-shadow: none;
}

.buy-course-btn {
  display: block;
  width: 100%;
  font-size: 17px;
}

#kupovina-kursa-flex p a.kontakt-forme-link, #moji-kursevi-blocked a.kontakt-forme-link, #usluga a.kontakt-forme-link {
  color: #DFE21E;
}

#kupovina-kursa-flex p a.kontakt-forme-link:hover, #moji-kursevi-blocked a.kontakt-forme-link:hover, #usluga a.kontakt-forme-link:hover {
  text-decoration: underline !important;
}

#kupovina-kursa-flex .go-back {
  font-size: 1.3rem;
  margin-top: 4rem;
}

.go-back a:hover {
  color: #DFE21E !important;
}

#kupovina-kursa-flex .go-back2 {
  display: none;
}

#kupovina-kursa .uspesna-kupovina-alert {
  margin-bottom: 3rem;
  margin-right: 4rem;
  margin-left: 4rem;
}

#kupovina-kursa-eng .card {
  border-radius: 25px;
  width: 450px;
  background-color: rgba(255, 255, 255, .45);
  max-width: 100%;
}

#kupovina-kursa-eng .hr, #profile-page.transakcije .hr, #usluga .hr {
  height: 2px;
  background-color: #fff;
  /* opacity: 1; */
  margin-top: 1px;
}

#kupovina-kursa-eng .register-btn {
  width: 100%;
  font-size: 1rem;
}

#kupovina-kursa-eng .register-btn:hover {
  transform: scale(1.03) !important;
}

#kupovina-kursa-eng .kontakt-forme-link {
  color: #DFE21E;
}

#kupovina-kursa-eng .zastave img {
  width: 200px;
  margin: 1rem;
  transition: transform .3s ease;
  border-radius: 15px;
}

#kupovina-kursa-eng .zastave img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#kupovina-kursa-eng .viseinfo {
  font-size: 1.5rem;
  font-weight: 600;
}

/* IZABRANI KURS ===================================================================================================  */

#kursevi.kurs {
  margin-top: 150px !important;
}

.kurs-cena {
  align-self: flex-end;
  position: relative;
  top: 20px;
}

.kurs-kupi a.kupi {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  font-size: 1.2rem;
}

.kurs-kupi a, .kurs-kupi input {
  margin-top: 2.3rem;
  padding: 1rem 2.5rem;
}

.kurs-kupi input:focus, .kurs-kupi input:active {
  background-color: #DFE21E;
  border-color: #DFE21E;
  box-shadow: none !important;
}

.kurs-ime-razred {
  position: relative;
  top: 1rem;
}

.bigzy {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bigzy1 {
  position: relative;
}

.bigzy2 {
  position: relative;
  /* left: -25px; */
}

.bigzy3 {
  padding-right: .75rem;
  display: flex;
  /* flex-grow: 1; */
}

.course-info-container {
  background-color: rgba(255, 255, 255, .45);
  border-radius: 10px;
  padding-top: 1rem;
}

.centerrow {
  padding-right: .25rem;
}

.course-info-container h3 {
  font-weight: 800;
  text-transform: uppercase;
}

.strelica-container {
  /* background-color: #fff; */
  display: inline-block;
  border-radius: 8px;
  padding: .7rem .75rem;
  position: relative;
  top: 15px;
}

.strelica-img-kurs {
  width: 50px;
  height: 50px;
}

.kurs-ime-razred p, .kurs-cena p {
  font-weight: 800;
  font-size: 1.5rem;
}

.kurs-cena {
  /* margin-left: 4rem; */
}

.kurs-cena p {
  line-height: 4rem;
  font-weight: 600;
}

.kurs-kupi input, .kurs-kupi input:hover, .kurs-kupi a, .kurs-kupi a:hover {
  background-color: #DFE21E;
  color: #000;
  /* border: 1px solid white; */
  border: none;
  font-weight: 800;
  /* padding: 1rem 2rem; */
  border-radius: 15px;
  text-decoration: none;
}

.video-container {
  position: relative;
}

.video {
  position: relative;
  z-index: 1;
}

.video:focus {
  outline: none;
}

#toggle_fullscreen {
  z-index: 2147483647;
}

#toggle_fullscreen:hover {
  cursor: pointer;
}

.watermark {
  position: absolute;
  top: 40%;
  left: 50%;
  color: #fff;
  transform: translate(-50%);
  font-size: 2.5rem;
  opacity: .05;
  font-weight: 800;
  z-index: 2147483647;
  pointer-events: none;
}

.active-clip {
  color: #DFE21E;
  font-weight: 600;
}

.clip-link {
  font-weight: 600;
  /* display: inline-block; */
  padding-left: 7px;
}

.clip-link:hover {
  cursor: pointer;
}

.prev-btn, .next-btn {
  background-color: #DFE21E;
  color: #000A35 !important;
  transition: transform .3s ease;
  font-weight: 600;
}

.prev-btn:hover, .next-btn:hover {
  background-color: #DFE21E;
  color: #000A35 !important;
  transform: scale(1.05);
}

.prev-btn:focus, .next-btn:focus {
  background-color: #DFE21E;
  color: #000A35 !important;
  border: none;
  box-shadow: none;
}

.prev-btn:active, .next-btn:active {
  box-shadow: none;
  background-color: #DFE21E;
  color: #000A35 !important;
  border: none;
}

.prev-btn:disabled, .next-btn:disabled {
  box-shadow: none;
  background-color: grey;
  color: #fff !important;
  border: none;
}

.prev-btn:active:focus, .next-btn:active:focus {
  box-shadow: none;
}

.clip-descc {
  background-color: rgba(255, 255, 255, .45);
  color: #fff;
}

.accordion-body.ab {
  padding-left: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}

.accordion-body.ab:nth-of-type(1) {
  padding-top: 1rem;
}

.accordion-body.ab:last-of-type {
  padding-bottom: 1rem;
}

.card.crd {
  background-color: rgba(255, 255, 255, .45);
  color: #fff;
}

.card.crd .accordion-button {
  color: #fff;
  border-color: #fff;
  font-weight: 600;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(223, 226, 30, .7);
  color: #fff !important;
}

.clip-link:hover {
  color: #DFE21E;
}

.accordion-button::after {
  background-image: none;
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  font-weight: 900;
}

.accordion-collapse {
  border-color: #fff;
}

.crd2 {
  display: none;
}

#kursevi .card {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  border-color: white;
}

.clip-descc {
  border-color: white;
}

.clip-name-p {
  font-size: 1.5rem;
}

/* PROFILE PAGE ====================================================================================================== */

#profile-page {
  margin-top: 200px;
}

.profile-div {
  background-color: rgba(255, 255, 255, .45);
  border-radius: 10px;
  /* text-align: center; */
}

.profile-div .list-group-item {
  background-color: transparent;
  color: #fff;
  margin-top: .2rem;
}

.profile-div .collapse {
  text-align: left;
  color: #000;
  margin-bottom: 1rem;
}

.profile-div .card {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 10px;
  color: #fff;
}

.profile-span {
  font-weight: 500;
}

/* INDEX PAGE START ===================================================================================================  */

#landing {
  margin-top: 180px;
}

.max-width-90 {
  max-width: 90%;
  margin: 0 auto;
}

#body-container.home {
  max-width: 100%;
}

#main-page {
  overflow: hidden;
}

.priprema {
  color: #DFE21E;
  font-weight: 700;
  font-size: 37px;
}

.priprema:nth-of-type(2) {
  display: none;
}

.svestotitreba:nth-of-type(2) {
  display: none;
}

.kursevi-matematike-za-osnovce {
  font-size: 42px;
  font-weight: 700;
}

#main-page .left-box p, #main-page .left-box h2 {
  font-weight: 600;
  font-size: 35px;
}

#main-page .left-box p {
  font-weight: 600;
  font-size: 27px;
}

#main-page .left-box {
  margin-top: -5px;
}

#main-page .left-box p {
  margin: 0;
  line-height: 40px;
  /* letter-spacing: 3px; */
}

#main-page .second-row {
  margin-top: 5rem;
}

#main-page .buy-course-btn {
  width: 220px;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.icon-container-div {
  background-color: rgba(255, 255, 255, .45);
  height: 147.66px;
  border-radius: 15px;
}

#five-divs .fa-arrow-right {
  color: #fff;
  /* font-size: 3rem; */
}

#five-divs img {
  width: 80%;
  margin: 0 auto;
}

#o-brendu {
  margin-top: -1rem;
  padding-top: 8rem;
}

#o-brendu hr {
  background-color: #fff;
  height: 3px;
  margin-top: -10px;
}

#o-brendu h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2.8rem;
}

#o-brendu .razumevanje {
  text-align: center;
  font-size: 1.7rem;
  margin-top: 2rem;
}

#o-brendu h2 {
  font-size: 2rem;
}

#o-brendu .volim-verujem {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, .75) !important;
}

#o-brendu .lepi-djolo {
  width: 80%;
}

#usluge-second {
  background-color: rgba(255, 255, 255, .85);
  padding-bottom: 2rem;
  /* padding-top: 8rem; */
  /* margin-top: -8rem; */
}

#usluge-second img:hover {
  transform: scale(1.1);
}

#usluge-second .usluga-title:hover {
  color: #2d46d6 !important;
}

#usluge-second .icon {
  transition: transform .5s ease;
  z-index: 3;
  position: relative;
}

#usluge-second .icon:hover {
  /* transform: scale(1.1); */
  cursor: pointer;
}

#usluge-second .usluge-col {
  position: relative;
}

#usluge-second .tooltip-usluge {
  position: absolute;
  top: 20px;
  left: -260px;
  width: 450px;
  display: none;
  z-index: 2;
}

#usluge-second div.tooltip-usluge.second {
  left: -250px;
  top: 20px;
}

#usluge-second div.tooltip-usluge.third {
  right: -220px;
  left: auto;
  top: 10px;
}

#usluge-second div.tooltip-usluge.fourth {
  /* right: -180px; */
  left: -210px;
  top: 0px;
}

#usluge-second div.tooltip-usluge.fifth {
  right: -220px;
  left: auto;
  top: 30px;
}

#usluge-second div.tooltip-usluge.sixth {
  right: -210px;
  left: auto;
  top: 0px;
}

#usluge-second .tooltip-usluge-text {
  font-size: .8rem;
  position: absolute;
  top: 50px;
}

#usluge-second h1 {
  color: #000b4b;
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
}

#usluge-second .usluga-title {
  z-index: 3;
  position: relative;
}

#usluge-second .usluga-title:hover {
  cursor: pointer;
}

#usluge-second img {
  /* width: 100%; */
  height: 130px;
}

#usluge-second p {
  color: #000E60;
  font-size: 1.5rem;
  font-weight: 600;
}

#triangle1, #triangle2 {
  height: 50px;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

#triangle2 {
  margin-top: 0;
  background-color: rgba(255, 255, 255, .85);
}

#triangle-bottomleft {
  width: 0;
  height: 0;
  border-bottom: 50px solid rgba(255, 255, 255, .85);
  border-right: 50px solid transparent;
}

#triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 50px solid rgba(255, 255, 255, .85);
  border-left: 50px solid transparent;
}

#triangle-bottomleft2 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 0 50px;
  border-color: transparent transparent transparent #000E60;
}

#triangle-bottomright2 {
  width: 0;
  height: 0;
  border-bottom: 50px solid #000E60;
  border-left: 50px solid transparent;
}

.counter-div {
  font-size: 2.5rem;
}

/* Testimonials */

/* TESTIMONIALS ======================================================================================================================================================== */

#testimonials {
  margin-top: -5rem;
  padding-top: 8rem;
}

#testimonials h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

.demoT {
  background-color: transparent;
}

.demoT a {
  color: #DFE21E;
  text-decoration: none;
}

.demoT a:hover {
  text-decoration: none;
  color: #aba603;
}

.testimonial {
  margin: 0 20px 40px;
}

.testimonial .testimonial-content {
  padding: 20px 10px 20px 45px;
  margin-bottom: 35px;
  background: #fff;
  border: 1px solid #f0f0f0;
  position: relative;
}

.testimonial .testimonial-content:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
  position: absolute;
  bottom: -10px;
  left: 22px;
  transform: rotate(45deg);
}

.testimonial-content .testimonial-icon {
  width: 50px;
  height: 45px;
  background-color: #DFE21E;
  text-align: center;
  font-size: 22px;
  color: #fff;
  line-height: 42px;
  position: absolute;
  top: 37px;
  left: -19px;
  opacity: .9;
}

.testimonial-content .testimonial-icon:before {
  content: "";
  border-bottom: 16px solid #DFE21E;
  border-left: 18px solid transparent;
  position: absolute;
  top: -16px;
  left: 1px;
  opacity: .9;
}

.testimonial .description {
  font-size: 15px;
  font-style: italic;
  color: #666;
  line-height: 23px;
  margin: 0;
}

.testimonial .title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #525252;
  /* text-transform: capitalize; */
  letter-spacing: 1px;
  margin: 0 0 5px 0;
}

.testimonial h3.title {
  color: #fff;
}

.testimonial .post {
  display: block;
  font-size: 14px;
  color: #D62929;
  font-weight: 700;
}

.owl-theme .owl-controls {
  margin-top: 20px;
}

.owl-theme .owl-controls .owl-page span {
  background: #ccc;
  opacity: 1;
  transition: all 0.4s ease 0s;
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #DFE21E;
}

/* END */

#faq {
  margin-top: -5rem;
  padding-top: 10rem;
}

#faq .accordion-button {
  color: white;
  border-bottom: 1px solid white;
  padding-left: 0;
  transition: color .5s ease, border .5s ease;
  text-align: left;
}

#faq .accordion-button:hover {
  color: #DFE21E;
  border-bottom: 1px solid #DFE21E;
}

#faq .accordion-button:focus {
  /* border: none; */
  box-shadow: none;
}

#faq .accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #DFE21E !important;
  border-bottom: 1px solid #DFE21E;
  font-weight: 600;
}

#faq .accordion-button::after {
  content: none;
}

#faq .bi-plus-circle {
  position: absolute;
  right: 2px;
}

#faq .accordion-body {
  padding-left: 25px;
  border-bottom: 1px solid white;
  font-weight: 600;
}

#faq .faq-category {
  padding: .45rem 1.5rem;
  border: 1px solid white;
  transition: background-color .5s ease;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
}

#faq .active {
  background-color: #DFE21E;
  color: #000E60;
}

#faq p.faq-category:nth-of-type(1) {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#faq p.faq-category:nth-of-type(3) {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#faq .faq-category:hover:not(.active) {
  cursor: pointer;
  background-color: #fff;
  color: #000E60;
}

#kontakt {
  margin-top: -4rem;
  padding-top: 8rem;
}

#kontakt h1 {
  font-size: 3rem;
}

#contact-send-btn:focus {
  background-color: #DFE21E;
  box-shadow: none;
  border: none;
  color: black;
}

#footer {
  background-color: #000A35;
  padding-bottom: .9rem;
}

#footer .col {
  max-width: 260px;
  margin: 0 auto;
}

#footer .icon-link {
  background-color: white;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #000A35;
  position: relative;
  display: inline-block;
  margin-top: 1.2rem;
  transition: background-color .75s ease;
}

#footer .icon-link:hover {
  background-color: #DFE21E;
  color: #000A35;
}

#footer .icon-link:nth-of-type(1) {
  padding: 10px 15px;
}

#footer .icon-link:nth-of-type(2) {
  padding: 6px 15px;
  font-size: 1.8rem;
  position: relative;
  top: 8px;
  margin: auto;
}

#footer .icon-link:nth-of-type(3) {
  padding: 10px 18px;
}

#footer p {
  opacity: .8;
  margin: 0;
}

#footer .pixelate {
  color: white;
  transition: color .3s ease;
}

#footer .pixelate:hover {
  color: #DC3545;
}

#footer #terms {
  font-size: .9rem;
  margin-top: 1rem;
}

#footer #terms a {
  text-decoration: none;
  color: white;
  transition: color .3s ease;
}

#footer #terms a:hover {
  text-decoration: none;
  color: #DFE21E;
}

#footer #terms .politika {
  font-size: .85rem;
  margin-left: 10px;
}

#footer #copyright {
  margin-top: .8rem;
}

/* INDEX PAGE END ===================================================================================================  */

/* USLUGA PAGE ======================================================================================================================================================== */

#usluga {
  margin-top: 200px;
}

#usluga .login-form-container {
  padding: 1rem;
  margin: 0 auto;
  margin-top: 2rem;
}

#usluga .login-form-container input, #usluga .login-form-container select {
  margin-top: .25em;
}

#usluga .form-text {
  margin-top: -.5rem;
  margin-bottom: 1rem;
}

/* USLUGA PAGE END ======================================================================================================================================================== */

/* 1680x1050 START ===================================================================================================  */

@media only screen and (max-width: 1680px) {
  .navbar-light .navbar-nav.left-nav .nav-item:first-of-type {
    /* margin-left: 5rem; */
    /* margin-right: 5rem; */
  }
  .navbar-light .navbar-nav .middle-nav.nav-link {
    margin-left: .75rem;
  }
}

/* 1680x1050 END ===================================================================================================  */

/* 1550px START ===================================================================================================  */

@media only screen and (max-width: 1550px) {
  .navbar-light .navbar-nav.left-nav .nav-item:first-of-type {
    /* margin-left: 3rem; */
    /* margin-right: 3rem; */
  }
  .navbar-light .navbar-nav .middle-nav.nav-link {
    margin-left: .75rem;
  }
  #landing .plus-img {
    margin-right: 2rem !important;
  }
}

/* 1550px END ===================================================================================================  */

/* 1450px START ===================================================================================================  */

@media only screen and (max-width: 1455px) {
  .navbar-light .navbar-nav .middle-nav.nav-link {
    margin-left: 0;
  }
  .navbar-light .navbar-nav .nav-link.registracija-nav {
    margin-left: .25rem;
  }
  #landing .plus-img, #landing .zmaj-img {
    width: 180px !important;
  }
}

/* 1450px END ===================================================================================================  */

/* 1440x900 START ===================================================================================================  */

@media only screen and (max-width: 1440px) {
  .navbar-light .navbar-nav.left-nav .nav-item:first-of-type {
    /* margin-left: .75rem; */
    /* margin-right: 4rem; */
  }
  .navbar-light .navbar-nav .middle-nav.nav-link {
    margin-left: 0;
  }
  .navbar-light .navbar-nav .nav-link.registracija-nav {
    margin-left: .25rem;
  }
  #landing .plus-img, #landing .zmaj-img {
    width: 180px !important;
  }
}

/* 1440x900 END ===================================================================================================  */

/* 1400px START ===================================================================================================  */

@media only screen and (max-width: 1400px) {
  a.navbar-brand img {
    width: 230px;
  }
  .moji-kursevi {
    margin-right: .5rem !important;
  }
}

/* 1400px END ===================================================================================================  */

/* 1366x768px START ===================================================================================================  */

@media only screen and (max-width: 1367px) {
  #kursevi.kurs {
    margin-top: 100px !important;
  }
  #landing .plus-img, #landing .zmaj-img {
    display: none;
  }
  .course-info-container h3 {
    font-size: 1.3rem;
  }
  .course-description {
    font-size: .9rem;
  }
  .navbar-light .navbar-nav .nav-link.moji-kursevi {
    margin-right: .5rem !important;
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: .8rem;
  }
  a.navbar-brand img {
    width: 200px;
  }
  .strelica-container {
    padding: .3rem .65rem;
    height: 60px;
    /* margin-top: .85rem; */
    position: relative;
    top: 24px;
  }
  .strelica-img-kurs {
    width: 40px;
    height: 40px;
    margin-top: .3rem;
  }
  .kurs-ime-razred p, .kurs-cena p {
    font-size: 1.2rem;
  }
  .kurs-ime-razred {
    margin-top: .5rem;
  }
  .kurs-cena {
    /* margin-left: 2rem; */
  }
  .kurs-kupi {
    /* margin-left: 1.5rem; */
  }
  .kurs-kupi input, .kurs-kupi input:hover, .kurs-kupi a, .kurs-kupi a:hover {
    /* padding: .55rem 1.25rem; */
    /* margin-top: .5rem; */
  }
  #five-divs img {
    /* width: 100%; */
  }
}

/* 1366x768px END ===================================================================================================  */

/* 1280x960 START ===================================================================================================  */

@media only screen and (max-width: 1280px) {
  a.navbar-brand img {
    width: 200px;
  }
  .navbar-light .navbar-nav.left-nav .nav-item:first-of-type {
    /* margin-left: 1rem; */
    /* margin-right: 5rem; */
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: .8rem;
  }
}

/* 1280x960 END ===================================================================================================  */

/* 1200px START ===================================================================================================  */

@media only screen and (max-width: 1200px) {
  #kupovina-kursa-flex {
    flex-direction: column;
    /* text-align: center; */
  }
  #kupovina-kursa .napomena {
    text-align: left;
  }
  .col-left, .col-right {
    margin: 0 auto;
  }
  .col-right {
    width: 620px;
    margin-top: 3rem;
  }
  .col-right .uputstvo:first-of-type {
    line-height: 3.5rem;
  }
  #kupovina-kursa-flex .go-back1 {
    display: none;
  }
  #kupovina-kursa-flex .go-back2 {
    display: block;
  }
  #kupovina-kursa .uspesna-kupovina-alert {
    max-width: 620px;
    margin-right: auto;
    margin-left: auto;
  }
  #kursevi .skola-container {
    height: 50px;
    margin-top: 0rem;
  }
  #kursevi .skola {
    line-height: 15px;
    font-size: 14px;
    padding-top: .7rem;
  }
  #kursevi .skola:nth-of-type(3) {
    top: -10px;
    line-height: 25px;
  }
}

/* 1200px END ===================================================================================================  */

/* 1160px START ===================================================================================================  */

@media only screen and (max-width: 1160px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: .68rem;
  }
  a.navbar-brand img {
    width: 180px;
  }
}

/* 1160px END ===================================================================================================  */

/* 1105px START ===================================================================================================  */

@media only screen and (max-width: 1105px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: .64rem;
  }
  a.navbar-brand img {
    width: 180px;
  }
  #kursevi .skola-container {
    height: 50px;
    margin-top: 0rem;
  }
  #kursevi .skola {
    line-height: 15px;
    font-size: 12px;
    padding-top: .7rem;
  }
  #kursevi .skola:nth-of-type(3) {
    top: -10px;
    line-height: 25px;
  }
}

/* 1105px END ===================================================================================================  */

/* 991 START ===================================================================================================  */

@media only screen and (max-width: 991px) {
  .centerrow {
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0;
  }
  .kurs-kupi a.kupi {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .centerrow1 {
    padding: 0;
  }
  .centerrow2 {
    padding: 0;
  }
  .bigzy3 {
    padding: 0;
  }
  .bigzy {
    padding: 0;
  }
  a.navbar-brand img {
    display: none;
  }
  .navbar-container-custom {
    /* background-color: #000a35; */
  }
  .contact-nav {
    border-bottom: 1px solid white;
    margin-bottom: 8px;
    border-color: rgb(255, 255, 255, .2);
  }
  .navbar {
    margin-top: 0;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
  }
  .uputstvo:nth-of-type(n+2) {
    margin-top: 1rem;
  }
  .uputstvo-number {
    font-size: 1.5rem;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
  }
  .uputstvo-text {
    font-size: .8rem;
  }
  .buy-course-btn, .buy-course-btn:hover, .buy-course-btn:focus {
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: .7rem;
    border-radius: 10px;
  }
  .col-right .uputstvo:first-of-type {
    line-height: 2.5rem;
  }
  .brand-mobile {
    display: block;
    width: 200px;
  }
  .mobile-nav-container {
    width: 100%;
  }
  .navbar-toggler {
    height: 50px;
  }
  .navbar-collapse {
    margin-top: 1rem;
  }
  .nav-item {
    /* width: 150px; */
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 1rem;
  }
  .navbar-light .navbar-nav .nav-link.moji-kursevi {
    margin-right: 0 !important;
    /* margin-bottom: 1rem; */
    background-color: transparent;
    color: #DFE21E !important;
  }
  .navbar-light .navbar-nav .nav-link.moji-kursevi:hover {
    color: #fff !important;
  }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #DFE21E !important;
  }
  .navbar-light .navbar-nav .nav-link.logged-in-as:hover {
    color: #fff !important;
  }
  .navbar-light .navbar-nav .nav-link.active {
    background-color: transparent;
    color: #fff;
  }
  .navbar-light .navbar-nav .nav-link.active {
    padding-left: 0;
  }
  .left-nav {
    margin-bottom: 0 !important;
  }
  .navbar-collapse {
    background-color: rgba(255, 255, 255, .25);
    width: 100%;
    /* padding-left: 1rem; */
    padding-top: 1.5rem;
    border-radius: 10px;
    text-align: center;
  }
  .navbar-light .navbar-nav .nav-link.active {
    padding-right: 0;
    color: #DFE21E;
  }
  .navbar-light .navbar-nav .nav-link.active:hover {
    color: #fff !important;
  }
  .dropdown-item {
    font-size: .7rem;
  }
  .navbar-light .navbar-nav .nav-link.registracija-nav {
    background-color: transparent;
    color: #DFE21E;
    padding-left: 0;
    border: none;
    margin-left: 0;
    padding-top: 0;
  }
  .navbar-light .navbar-nav .nav-link.registracija-nav:hover {
    color: #fff !important;
  }
  .navbar-light .navbar-nav .nav-link.prijava-nav {
    font-weight: 800;
    padding-top: 0;
    color: #fff;
  }
  .navbar-light .navbar-nav .nav-link.prijava-nav:hover {
    color: #DFE21E !important;
  }
  .custom-toggler.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
  #scroll-to-top {
    right: 15px;
  }
  .navbar-collapse {
    margin-bottom: 2rem;
  }
  .dropdown-menu.show {
    width: 25%;
    margin: 0 auto;
  }
  .navbar-light .navbar-nav .middle-nav.nav-link:hover:after, .prijava-nav:hover:after, .logged-in-as:hover:after {
    width: 0;
  }
  #landing .left-box {
    text-align: center;
  }
  #landing .right-box {
    margin-top: 3rem;
  }
  #five-divs img {
    width: 100%;
  }
  #o-brendu .lepi-djolo {
    width: 50%;
  }
  .crd {
    display: none;
  }
  .crd2 {
    display: block;
  }
  .skrr {
    color: #fff !important;
  }
  .navbar-light .navbar-nav .nav-link.active:hover {
    color: #DFE21E !important;
  }
  .dropdown-menu {
    padding: 0;
  }
  .dropdown-menu.show {
    padding: .5rem 0;
  }
  .wurf {
    width: 75% !important;
  }
}

/* 991 END ===================================================================================================  */

/* 767 START ===================================================================================================  */

@media only screen and (max-width: 767px) {
  .centerrow {
    margin-top: 2rem;
  }
  .bigzy3 {
    padding-right: 1.5rem;
  }
  .centerrow2 {
    margin-top: 2rem !important;
  }
}

/* 767 END ===================================================================================================  */

/* 740 START ===================================================================================================  */

@media only screen and (max-width: 749px) {
  .kurs-kupi a, .kurs-kupi input {
    position: relative;
    top: 75px;
    /* right: 20px; */
  }
  .kurs-kupi a.kupi {
    top: 0;
  }
}

/* 740 START ===================================================================================================  */

/* 680 START ===================================================================================================  */

@media only screen and (max-width: 680px) {
  .centerrow1 {
    padding-right: 0;
  }
  .centerrow {
    padding: 0;
    margin: 0 auto;
    margin-top: 1.5rem;
  }
}

/* 767 END ===================================================================================================  */

/* MOBILNI TELEFON IPHONE X ===================================================================================================  */

@media only screen and (max-width: 575px) {
  .smallonly {
    display: block !important;
  }
  .max-width-90 {
    max-width: 95%;
  }
  .wurf {
    width: 100% !important;
  }
  #kursevi {
    margin-top: 150px !important;
  }
  .not-registered-container, .forgot-password-container {
    align-items: center;
  }
  #prijave .forgot-password-container a {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  .niste-reg {
    margin-top: 0;
    margin-right: 5px;
  }
  .kursevi-matematike-za-osnovce {
    font-size: 30px;
  }
  .priprema {
    font-size: 25px;
  }
  #main-page .second-row {
    margin-top: 3rem;
  }
  #main-page .left-box h2 {
    font-size: 25px;
  }
  #main-page .left-box p {
    font-size: 20px;
  }
  #main-page .left-box p {
    line-height: normal;
  }
  #main-page .buy-course-btn {
    padding-top: .7rem;
    padding-bottom: .7rem;
    font-size: .9rem;
    line-height: 30px;
  }
  #landing .plus-img, #landing .zmaj-img {
    display: none;
  }
  #landing .right-box {
    margin-top: 2rem;
  }
  #o-brendu h1 {
    font-size: 2rem;
  }
  #o-brendu .razumevanje {
    font-size: 1.1rem;
  }
  #o-brendu h2 {
    font-size: 1.5rem;
  }
  #o-brendu .volim-verujem {
    font-size: 1rem;
  }
  #o-brendu .lepi-djolo {
    width: 70%;
  }
  #usluge-second h1 {
    font-size: 2rem;
  }
  #usluge-second img {
    height: 80px;
  }
  #usluge-second p {
    font-size: 1rem;
  }
  .priprema-prijemni {
    height: 100px !important;
  }
  .konsultacije, .individualni, .grupni {
    height: 100px !important;
  }
  #faq h1 {
    font-size: 2rem;
  }
  #faq .faq-category {
    font-size: 1rem;
  }
  #kontakt h1 {
    font-size: 2rem;
  }
  #five-divs {
    margin-top: 3rem !important;
  }
  #o-brendu {
    margin-top: -5rem;
  }
  .login-form-container {
    padding: 1.5rem 1.3rem;
  }
  #moji-kursevi .register-btn {
    font-size: .8rem !important;
  }
  #moji-kursevi h3 {
    font-size: 1.3rem;
  }
  .priprema:nth-of-type(1) {
    display: none;
  }
  .priprema:nth-of-type(2) {
    display: block;
    line-height: 25px;
    margin-top: 1rem;
    margin-bottom: .85rem;
  }
  .svestotitreba:nth-of-type(1) {
    display: none;
  }
  .svestotitreba:nth-of-type(2) {
    display: block;
  }
  .kursevi-matematike-nisko {
    margin-top: 0rem !important;
  }
  #landing {
    margin-top: 150px;
  }
  #main-page .second-row {
    margin-top: 2rem;
  }
  #main-page .left-box h2 {
    margin-bottom: 2rem !important;
  }
  .navbar-container-custom {
    padding-top: 20px;
    /* Change here change in JS */
  }
  .zastosamosnovao {
    margin-top: 2rem !important;
  }
  #o-brendu .razumevanje {
    margin-top: .9rem;
  }
  #o-brendu .volim-verujem {
    margin-top: 1.3rem !important;
  }
  #usluge-second h1 {
    padding-top: 2rem !important;
  }
  .kursevik {
    margin-top: 0.6rem !important;
  }
  .pzp {
    margin-top: -0.5rem !important;
  }
  .konsultz {
    margin-top: 0 !important;
  }
  .grupnicass {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .pzpik {
    line-height: 19px;
  }
  #usluge-second {
    padding-bottom: 0rem;
  }
  #prijave.login-form #login-btn {
    font-size: 1rem;
    padding: 0 1rem;
    height: 35px;
  }
  .go-back {
    font-size: 1.2rem;
  }
  #testimonials h1 {
    font-size: 2rem;
  }
  #kontakt {
    padding-top: 6rem;
    margin-top: -2rem;
  }
  #faq {
    padding-top: 7rem;
    margin-top: -2rem;
  }
  #footer .pixelate {
    color: #DC3545;
  }
  #kursevi .skola {
    /* font-size: .8rem; */
    /* padding: .5rem; */
    /* line-height: 15px; */
  }
  #prijave .not-registered-container button {
    font-size: .9rem;
    padding: .25rem .6rem;
  }
  .niste-reg {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  .ili {
    font-size: 1.2rem;
    position: relative;
    top: 3px;
  }
  .lakoooo {
    margin-bottom: 1.5rem !important;
  }
  #kursevi.kurs {
    margin-top: 75px !important;
  }
}

/* 535PX START ===================================================================================================  */

@media only screen and (max-width: 545px) {
  .bigzy3 {
    order: 2;
  }
  .bigzy2 {
    order: 3;
  }
  .kurs-kupi a, .kurs-kupi input {
    top: 0;
  }
  .kurs-kupi a.kupi {
    /* top: 75px; */
  }
}

/* 535PX END ===================================================================================================  */

@media only screen and (max-width: 525px) {
  #kursevi .skola {
    font-size: .8rem;
    padding: .5rem;
    line-height: 15px;
  }
  #kursevi .skola-container {
    padding-left: 0;
    margin-top: .5rem;
  }
  .kurs-kupi a, .kurs-kupi input {
    padding: .5rem 1rem;
    border-radius: 10px;
    top: 8px;
  }
  .kurs-kupi a.kupi {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media only screen and (max-width: 460px) {
  .robz {
    margin-top: .5rem;
  }
  #prijave .forgot-password-container, #prijave .not-registered-container {
    justify-content: center !important;
  }
  #prijave .forgot-password-container a, .niste-reg {
    margin-bottom: .5rem !important;
  }
  .kurs-kupi a, .kurs-kupi input {
    padding: .5rem 1rem;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 420px) {
  .strelica-img {
    right: 10px;
  }
  .line-container {
    margin-bottom: .25rem;
    margin-top: .25rem;
  }
  .login-form-container {
    padding: 1rem .8rem;
  }
  #prijave.registracija .register-btn {
    font-size: .9rem;
    padding: .3rem 1rem;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .login-form-container label, .zab-sifru, .niste-reg {
    font-size: 15px;
  }
  #prijave .forgot-password-container button, #prijave .not-registered-container button {
    /* font-size: .7rem; */
    /* padding: .3rem 1rem; */
  }
  .login-form-container h1 {
    font-size: 1.5rem;
  }
  .kursevi-matematike-za-osnovce {
    font-size: 25px;
  }
  .priprema {
    font-size: 20px;
  }
  #main-page .second-row {
    margin-top: 1rem;
  }
  #main-page .left-box h2 {
    font-size: 20px;
    margin-bottom: 1.5rem !important;
  }
  #main-page .left-box p {
    font-size: 18px;
  }
  #main-page .buy-course-btn {
    width: 160px;
  }
  #faq h1 {
    font-size: 1.5rem;
  }
  #faq .faq-category, #kursevi .skola {
    font-size: .8rem;
  }
  #kontakt .register-btn, .confirm-btn {
    font-size: .8rem;
    padding: .5rem 1.3rem;
  }
  #prijave.login-form #login-btn {
    font-size: .9rem;
    padding: 0 1rem;
    height: 30px;
    line-height: 30px;
  }
  #prijave .forgot-password-container a, .niste-reg {
    flex-basis: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 320px) {
  .mobile-nav-container {
    flex-wrap: wrap;
    justify-content: space-around !important;
  }
}